/* ------------ Activities ------------- */

.activities {
  display: none;
  padding-bottom: 0px;

  @include tablet {
    display: none;
    padding-bottom: 0px;
  }
  @include desktop {
    display: flex;
    padding-bottom: 94px;
  }
}

.activities-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.activity-list {
  display: flex;
}

.activity-item {
  width: 370px;
  position: relative;
}

.activity-item:not(:last-child) {
  margin-right: 30px;
  margin-left: 0;
}

.activity-title-wrap {
  position: absolute;
  width: 370px;
  height: 70px;
  display: flex;
  column-gap: 30px;
  background: rgba(47, 48, 58, 0.8);
  align-items: center;
  justify-content: center;
  bottom: 0px;
  left: 0;
}

.activity-after-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
