@use 'sass:math';
/* ------------ Advantages or features------------- */
.advantages {
  padding: 60px 0px;

  @include desktop {
    padding-bottom: 0;
  }
}

/* .advantages-title {
  class visually-hidden
} */

.advantages__list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @include desktop {
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
    gap: 0;
  }
}
.advantages__item {
  &:not(:last-child) {
    // margin-right: 30px;
    margin-bottom: 30px;
    // margin-left: 0;
  }

  @include tablet {
    width: calc((100% - 30px) / 2);

    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }

  @include desktop {
    width: calc((100% - 90px) / 4);

    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
      margin-left: 0;
    }
  }
}

.advantages__icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--second-bg-color);
  border-radius: 4px;
}

.advantages__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: math.div(16px, 14px);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @include tablet {
    text-align: left;
  }
}

.advantages__text {
  // margin-bottom: 30px;
  font-size: 14px;
  line-height: math.div(24px, 14px);
  letter-spacing: 0.03em;
  color: var(--secondary-grey-color);
  // margin-bottom: 30px;

  @include tablet {
    margin-bottom: 0;
    // line-height: math.div(24px, 14px);
  }
  // // @include desktop {
  // }
}
