@use 'sass:math';

/* ------------ Customers ------------- */

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: math.div(33px, 28px);
  text-align: center;
  letter-spacing: 0.03em;

  @include desktop {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: math.div(42px, 36px);
  }
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @include desktop {
    display: flex;
    flex-wrap: nowrap;
    gap: 0px;
    // align-items: center;
    // justify-content: center;
  }
}

.customers-item {
  width: calc((100% - 30px) / 2);
  height: 92px;

  @include tablet {
    width: calc((100% - 60px) / 3);
  }

  @include desktop {
    width: 170px;
    height: 92px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--socials-color);
  border-radius: 4px;
  fill: var(--socials-color);
  transition: background-color var(--primary-hover), fill var(--primary-hover),
    border var(--primary-hover);
}

.customers-link {
  &:hover,
  &:focus {
    fill: var(--secondary-color);
    border: 1px solid var(--secondary-color);
  }
}
