@use 'sass:math';
/* ------------ Hero ------------- */
.hero {
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-bg-mob.jpg);

  background-color: #2f303a;

  padding: 118px 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-bg-mob@2x.jpg);
  }
}

.hero {
  @include tablet {
    padding: 118px 0px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-bg-tab.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-bg-tab@2x.jpg);
    }
  }
}

.hero {
  @include desktop {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-bg-desk.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-bg-desk@2x.jpg);
    }
  }
}

// .hero {
//   max-width: 1600px;
//   margin-left: auto;
//   margin-right: auto;
//   padding-top: 200px;
//   padding-bottom: 200px;
//   background-color: #2f303a;
//   background-image: linear-gradient(
//       to right,
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../images/hero/hero-bg-progressive.jpg);
//   background-repeat: no-repeat;
//   background-position: 50% 50%;
//   border: 1px solid #000000;
// }

.hero__title {
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: math.div(42px, 26px);
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  display: inline-block;

  @include tablet {
    // font-size: 26px;
    // line-height: 1.36;
    // margin-bottom: 30px;
    // margin-top: 0px;
    // padding-left: 204px;
    // padding-right: 204px;
  }

  @include desktop {
    max-width: 696px;
    // margin-right: auto;
    // margin-left: auto;
    // margin-bottom: 30px;
    // font-weight: 900;
    font-size: 44px;
    line-height: math.div(60px, 44px);

    // line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;

    text-transform: uppercase;
    color: var(--primary-bg-color);
  }
}

.hero__button {
  min-width: 200px;
  min-height: 50px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  background-color: var(--secondary-color);
  /*border: 0;*/
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  transition: background-color var(--primary-hover);
}

// .hero__button:hover,
// .hero__button:focus {
//   color: var(--primary-bg-color);
//   background-color: #188ce8;
// }

.hero__button {
  &:hover,
  &:focus {
    color: var(--primary-bg-color);
    background-color: #188ce8;
  }
}
